<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input is-large',
      placeholder: "Seu email" %>
  </div>

  <div class="actions">
    <%= f.submit "Envie-me as instruções da senha",
      class: 'button is-block is-info is-large is-fullwidth' %>
  </div>
<% end %>
