// Bulma variables
$primary: #209cee

@import 'bulma/bulma'
@import 'bulma-tooltip/dist/css/bulma-tooltip'

#lives
  thead th
    &.votes
      width: 7rem

    &.author
      width: 15rem

  img.avatar
    width: 30px